{% extends "base.html" %}

{% block content %}
<section class="section-above-the-field-alt">
    <div class="container above-the-field">
      <div class="col-1-1">
       <h1>About me</h1>
      </div>
    </div>
  </section><section id="vita" class="section-vita">
    <div class="container vita">
      <div class="col-1-1">
        <h2>
          About me
        </h2>
        <p>
          I'm Lukas Menzel, 24 years old, studying product management at CODE University. Besides that I co-founded the marketing agency co:listic in 2018 where I work as Director Digital and enalbe companies to grow their business using digital marketing. 
          I'm also a passionate runner, coffee nerd and music addicted. 
        </p>
      </div>
      </div></section>
{% endblock %}
