{% extends "base.html" %}

{% block content %}
<section class="section-above-the-field-alt">
    <div class="container above-the-field">
      <div class="col-1-1">
       <h1>Contact</h1>
      </div>
    </div>
  </section><section id="vita" class="section-vita">
    <div class="container vita">
      <div class="col-1-1">
        <h2>
          Contact me
        </h2>
        <form action="/signup" method="post">
            <input type="text" name="email"></input>
            <input type="submit" value="Signup"></input>
          </form>
      </div>
      </div></section>
{% endblock %}
